* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Quicksand', sans-serif;

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    background-image: url("../public/logofront.png");
    background-size: cover;

    header {
      width: 100%;
      padding-left: 20px ;

      img {
        width: 20%;
      }

      p {

        span {
          border-top: 1px solid rgba(0, 0, 0, 0.5);
          font-size: 10px;
          padding-top: 2px;
        }
        
        a {
          text-decoration: none;
          color: rgb(0, 18, 68);
        }
      }
    }

    .title {

      text-align: center;

      h1 {
        width: 100%;
        text-align: center;
        animation-duration: 2s;
        margin-bottom: 50px;
        
      }

      button {
        width: 90px;
        height: 45px;
        border-radius: 10px;
        background-color: rgb(76, 68, 121);
        color: whitesmoke;
        
      }

    }
    
    
  }

  // ================= STYLE PAGE SURAH

  .surat {
    header {
      height: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      top: 0;
      background-color:  rgb(108, 155, 158) ;
      box-shadow: 0px 5px 5px gray;

      img {
        width: 5%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
      }

      input {
        height: 25px;
        border-radius: 10px;
        width: 100%;
        background-color: whitesmoke;
      }
    }

    .Nama-surat {
      margin-bottom: 1px;
      text-align: center;
      padding: 10px;
      margin-top: 45px;
  
      .surah-style {
        border-bottom: 1px solid gray;
        padding: 10px;
        h1 {
          background-color: rgb(108, 155, 158);
          border-radius: 50px;
          padding: 10px;
          color:black;
          font-size: medium;
    
            
            span {
              font-size: small;
            }
          }
      
        p {
            font-weight: normal;
            margin: 10px;
        }
      }
    }
  }

  // ================= STYLE PAGE AYAT

  .ayat {

    header {
      text-align: center;
      background-color: rgb(108, 155, 158);
      height: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      box-shadow: 0px 5px 5px gray;

      img {
        width: 5%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
      }

      p {
        font-size: 20px;
      }
    }

    ul {
      li {
        list-style: decimal-leading-zero;
        text-align: right;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 20px;
  
        .m20 {
          padding: 10px;
          font-weight: bold;
        }
  
        .arab-style {
          font-size: 28px;
          margin-bottom: 5px;
          font-weight: normal;
        }
  
        .latin-style {
          font-size: small;
          margin-bottom: 10px;
        }
  
        .indo-style{
          font-size: small;
          margin-bottom: 30px;
        }

        .navlink {
          border: none;
          text-decoration: none;
          margin-right: 20px;
          color: gray;
        }
      }
    }
  }

  // ================= STYLE PAGE TAFSIR

  .tafsir {
    header {
      background-color:  rgb(108, 155, 158);
      text-align: center;
      box-shadow: 0px 5px 5px gray;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 45px;

      img {
        width: 5%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    p {
      font-size: 16px;
      padding: 20px;
      font-weight: bold;
    }

    footer {
      background-color:  rgb(108, 155, 158);
      text-align: center;
      padding: 5px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 12;

      a {
        text-decoration: none;
        color: rgb(0, 18, 68);
      }
    }
  }
}

.navlink:hover {
  font-weight: bold;
}

a:hover {
  font-weight: 800;
}



@media only screen and (min-width: 768px) {

  body {
    display: flex;
    justify-content: center;

    #root {
      width: 450px;
    }

    .surat {
      header {
        width: 30%;
      }
    }
  }
}

